In [1]:
i = 0
while i <5 :
    print(i)
    i+=1

0
1
2
3
4

In [4]:
result  = 0
i = 1
while True:
    result+=i
    if result >100:
        break
    i+=1
    print(result)
print(i)

1
3
6
10
15
21
28
36
45
55
66
78
91
14

In [5]:
sdata1 = 'string test'
sdata1

'string test'

In [6]:
sdata2 = "string test"

In [7]:
sdata2

'string test'

In [8]:
sdata3 = 'Hello'
sdata3

'Hello'

In [9]:
type(sdata3)

str

In [10]:
sdata3[1:3]

'el'

In [11]:
sdata1 = 'hello'
sdata2 = 'world'
sdata1 + sdata2

'helloworld'

In [12]:
for i in sdata1 + sdata2:
    print(i)

h
e
l
l
o
w
o
r
l
d

In [13]:
sdata4 = 'have a good day'

In [14]:
sdata4.title()

'Have A Good Day'

In [16]:
sdata4.capitalize()

'Have a good day'

In [17]:
sdata4.count('o')

2

In [18]:
sdata4.count("oo")

1

In [19]:
sdata4.startswith('have')

True

In [20]:
sdata4.find('a')

1

In [21]:
sdata4.find('o')

8

In [22]:
sdata4.rfind('a')

13

In [23]:
sdata4.split()

['have', 'a', 'good', 'day']

In [24]:
'2020/01/07'.split('/')

['2020', '01', '07']

In [25]:
sdata5 = '    python     '

In [26]:
sdata5.strip()

'python'

In [27]:
sdata5.rstrip()

'    python'

In [28]:
sdata5.lstrip()

'python     '

In [29]:
idata = 200
fdata = 323.323
sdata = 'abcdefg'

In [31]:
rstr1 = "정수 %i , 실수 %f, 문자열 %s " % (idata,fdata,sdata)
rstr1

'정수 200 , 실수 323.323000, 문자열 abcdefg '

In [33]:
rstr1 = "정수 {0} , 실수 {1}, 문자열 {2} ".format(idata,fdata,sdata)
rstr1

'정수 200 , 실수 323.323, 문자열 abcdefg '

In [34]:
rstr1 = "정수 {} , 실수 {}, 문자열 {} ".format(idata,fdata,sdata)
rstr1

'정수 200 , 실수 323.323, 문자열 abcdefg '

In [35]:
rstr1 = "정수 {:<10} , 실수 {}, 문자열 {:>10} ".format(idata,fdata,sdata)
rstr1

'정수 200        , 실수 323.323, 문자열    abcdefg '

In [36]:
rstr1 = "정수 %10i , 실수 %.2f, 문자열 %-10s " % (idata,fdata,sdata)
rstr1

'정수        200 , 실수 323.32, 문자열 abcdefg    '

In [37]:
fvalue2 = 523152352315.2351235312
'fvalue : {:,.3f}'.format(fvalue2)

'fvalue : 523,152,352,315.235'

In [42]:
rstr3 = f'정수:{idata}, 실수 : {fvalue2:,.3f}'
rstr3

'정수:200, 실수 : 523,152,352,315.235'

In [44]:
def add(a,b):
    result = a + b
    return result

In [45]:
add(100,200)

300

In [46]:
add(142,3242.2342)

3384.2342

In [47]:
add(232.232,123.123)

355.355

In [48]:
x = 10

def f1():
    print(x)

In [49]:
f1()

10

In [52]:
x2 = 10

def f2():
    x2 = 20
    print(x2)

## f2()

In [54]:
x2

10

In [55]:
x2 = 10

def f2():
    global x2
    x2 = 20
    print(x2)

In [56]:
f2()
x2

20

20

In [57]:
def print_info(name, age, address):
    print('name:{} age:{} address:{}'.format(name,age,address))

In [58]:
print_info('김가',30,'서울')

name:김가 age:30 address:서울

In [59]:
print_info(address = '부산', name = '이가', age = 10)

name:이가 age:10 address:부산

In [60]:
def print_info(name, age, address = 'no data'):
    print('name:{} age:{} address:{}'.format(name,age,address))

In [61]:
print_info('choi',20)

name:choi age:20 address:no data

In [63]:
def print_info2(name, age = 0, address = 'no data'):
    print('name:{} age:{} address:{}'.format(name,age,address))

In [64]:
print_info2(age = 20, name = 'kim')

name:kim age:20 address:no data

In [65]:
print_info2(address = 'incheon',name = 'kim')

name:kim age:0 address:incheon

In [66]:
tdata1 = (10,30,50,70)

In [67]:
tdata2 = 50,30,90,10

In [68]:
tdata2

(50, 30, 90, 10)

In [69]:
type(tdata2)

tuple

In [70]:
tdata2[1] = 100

TypeError: 'tuple' object does not support item assignment

In [71]:
tdata1 = 20,40,50
tdata2 = 100,200,300
tdata1 + tdata2

(20, 40, 50, 100, 200, 300)

In [72]:
tdata1 * 3

(20, 40, 50, 20, 40, 50, 20, 40, 50)

In [73]:
sdata1 =  {40,30,20,10,20,10,10,20,40}
sdata1

{10, 20, 30, 40}

In [74]:
sdata2 = {'lee','choi','oh','hyo','lee','oh','hyo'}

In [75]:
sdata2

{'choi', 'hyo', 'lee', 'oh'}

In [76]:
type(sdata2)

set

In [77]:
tdata_b = tuple(sdata2)

In [78]:
tdata_b

('choi', 'oh', 'hyo', 'lee')

In [79]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [80]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7}

In [81]:
s1.intersection(s2)

{3, 4, 5}

In [82]:
s1 & s2

{3, 4, 5}

In [83]:
s1.difference(s2)

{1, 2}

In [84]:
s1 - s2

{1, 2}

In [85]:
#dictionary

In [86]:
ddata1 = {'name': 'kim', 'age' : 30, 'address' : 'seoul'}

In [87]:
ddata1

{'name': 'kim', 'age': 30, 'address': 'seoul'}

In [88]:
type(ddata1)

dict

In [89]:
ddata2 = {'names' : ['kim','lee','choi'],
          'ages':(20,30,50),
          'address' :['seoul','busan', 'incheon']}
ddata2

{'names': ['kim', 'lee', 'choi'],
 'ages': (20, 30, 50),
 'address': ['seoul', 'busan', 'incheon']}

In [90]:
ddata1['name']

'kim'

In [91]:
ddata2['address']

['seoul', 'busan', 'incheon']

In [93]:
ddata1.keys()

dict_keys(['name', 'age', 'address'])

In [94]:
for k in ddata1.keys():
    print(k)

name
age
address

In [95]:
ddata1.values()

dict_values(['kim', 30, 'seoul'])

In [96]:
for v in ddata1.values():
    print(v)

kim
30
seoul

In [97]:
ddata1.items()

dict_items([('name', 'kim'), ('age', 30), ('address', 'seoul')])

In [98]:
for k,v in ddata1.items():
    print(k,v)

name kim
age 30
address seoul

In [99]:
ddata1['name'] = 'lee'

In [100]:
ddata1

{'name': 'lee', 'age': 30, 'address': 'seoul'}

In [101]:
ddata1['height'] = 182
ddata1

{'name': 'lee', 'age': 30, 'address': 'seoul', 'height': 182}

In [113]:
def add_2(*data):
    result = 0
    print(type(data))
    for d in data:
        result += d
    return result

In [114]:
add_2(10,20)

<class 'tuple'>

30

In [115]:
add_2(10,20,30,40)

<class 'tuple'>

100

In [116]:
def print_info(name,age,address):
    print(f'name:{name}, age:{age},address:{address}')

In [117]:
print_info('kim',40,'busan')

name:kim, age:40,address:busan

In [118]:
def print_info2(**data):
    for k, v in data.items():
        print(k,v,sep=':', end = ' ')

In [119]:
print_info2(name= 'kim', age = 30, address = 'seoul')

name:kim age:30 address:seoul

In [120]:
print_info2(name= 'kim', age = 30, address = 'seoul', height = 180, weight = 99)

name:kim age:30 address:seoul height:180 weight:99

In [121]:
def insa():
    print('안녕하세요')

In [122]:
insa()

안녕하세요

In [125]:
fv = insa
fv
##insa의 주소값

In [126]:
fv = insa()
fv

안녕하세요

In [127]:
def add(a,b):
    return a+b

def subtract(a,b):
    return a-b

def multiply(a,b):
    return a*b

In [128]:

flist = [add, subtract,multiply]

In [129]:
flist

[<function __main__.add(a, b)>,
 <function __main__.subtract(a, b)>,
 <function __main__.multiply(a, b)>]

In [130]:
flist[1]

In [131]:
flist[1](40,10)

30

In [132]:
def k_insa():
    print('안녕하세요')
    
def e_insa():
    print('hello')
    
def greet(fvalue):
    fvalue()

In [133]:
greet(e_insa)

hello

In [134]:
greet(k_insa)

안녕하세요