In [1]:
a = 100

In [3]:
a

100

In [6]:
print(a)

100

In [7]:
print(type(a))

<class 'int'>

In [8]:
b = 323.323
print(type(b))

<class 'float'>

In [9]:
10/3

3.3333333333333335

In [10]:
10//3

3

In [11]:
fdata = 423.23
idata = int(fdata)
idata

423

In [12]:
type(idata)

int

In [13]:
type(fdata)

float

In [16]:
ipdata1 = input('정수를 입력하세요')

정수를 입력하세요300

In [17]:
ipdata1

'300'

In [18]:
print(type(ipdata1))

<class 'str'>

In [20]:
data1 = int(ipdata1) + 100

In [21]:
data2 = 300

In [23]:
print(data1, data2, sep='-', end = '\n\n')
print('data1=' , data1)

400-300

data1= 400

In [24]:
ldata1 = ['red', 'blue' , 'green']
ldata1
print(type(ldata1))

<class 'list'>

In [25]:
ldata1

['red', 'blue', 'green']

In [26]:
ldata2 = ['kim', 44, 185.2, True]
ldata2

['kim', 44, 185.2, True]

In [27]:
print(type(ldata2))

<class 'list'>

In [28]:
ldata3 = [[1,2,3],[3,4,5,6],[4,9]]
ldata3

[[1, 2, 3], [3, 4, 5, 6], [4, 9]]

In [29]:
print(type(ldata3))

<class 'list'>

In [30]:
ldata4 = ['서울', '부산', '인천', '광주', '대구', '대전','수원', '전주', '울산']
ldata4

['서울', '부산', '인천', '광주', '대구', '대전', '수원', '전주', '울산']

In [31]:
ldata4[3]

'광주'

In [32]:
ldata4[-1]

'울산'

In [33]:
ldata4[:4]

['서울', '부산', '인천', '광주']

In [34]:
ldata4[3:]

['광주', '대구', '대전', '수원', '전주', '울산']

In [35]:
ldata4[-3:]

['수원', '전주', '울산']

In [36]:
ldata4[::2]

['서울', '인천', '대구', '수원', '울산']

In [37]:
ldata4[::-1]

['울산', '전주', '수원', '대전', '대구', '광주', '인천', '부산', '서울']

In [40]:
ldata1 = ['red','green','blue']
ldata2 = ['orange','yello','white']
ldata1

['red', 'green', 'blue']

In [41]:
ldata1 + ldata2

['red', 'green', 'blue', 'orange', 'yello', 'white']

In [42]:
ldata1 * 3

['red', 'green', 'blue', 'red', 'green', 'blue', 'red', 'green', 'blue']

In [43]:

ld1 = [0,0]
ld2 = [1,1]
data1 = ld1 * 3 + ld2 * 2
data1

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1]

In [45]:
'blue' in ldata1

True

In [46]:
'yellow' in ldata1

False

In [47]:
len(ldata1)

3

In [48]:
ldata1.append('white')

In [49]:
ldata1

['red', 'green', 'blue', 'white']

In [51]:
ldata1.extend(['yellow','black'])

In [52]:
ldata1

['red', 'green', 'blue', 'white', 'yellow', 'black']

In [53]:
ldata1.insert(1,'purple')

In [54]:
ldata1

['red', 'purple', 'green', 'blue', 'white', 'yellow', 'black']

In [55]:
ldata.remove('red')

NameError: name 'ldata' is not defined

In [56]:
ldata1.remove('red')

In [57]:
ldata1

['purple', 'green', 'blue', 'white', 'yellow', 'black']

In [58]:
del ldata1[2]

In [59]:
ldata1

['purple', 'green', 'white', 'yellow', 'black']

In [60]:
ldata1[0] = 'orange'

In [61]:
ldata1

['orange', 'green', 'white', 'yellow', 'black']

In [62]:
data1 = [2,6,9]

In [63]:
x,y,z = data1

In [64]:
x

2

In [65]:
y

6

In [66]:
z

9

In [67]:
value1 = 75

In [68]:
if value1 > 50:
    print('val1 > 50')
    print('val1 : ' , value1)
else :
    print('val1 <= 50')
    print('val1 : ' , value1)

val1 > 50
val1 :  75

In [69]:
value2 = 80
if value1 > 40 and value2 > 70 :
    print('두조건 모두 만족')

두조건 모두 만족

In [72]:
score = 88

if score>= 90 : grade = 'A'
elif score >= 80 : grade = 'B'
elif score >= 70 : grade = 'C'
elif score >= 60 : grade = 'D'
else : grade = 'F'
    
print('당신의 학점은 ' , grade , '입니다')

당신의 학점은  B 입니다

In [73]:
ldata = [40,30,90,70,10]
for i in ldata1:
    print(i)

orange
green
white
yellow
black

In [74]:
ldata1 = [40,30,90,70,10]
for i in ldata1:
    print(i)

40
30
90
70
10

In [75]:
for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [76]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [77]:
for i in range(2,10) :
    for j in range(1,10) :
        print(i, '*',j,'=',i*j)
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81