In [18]:
name = input('이름을 입력하세요 : ')
age = int(input('나이를 입력하세요 : '))
salary = float(input('시작 연봉을 입력하세요 : '))


total = 0;
for i in range(65- age):
    #print(" i: %i" ,i," salary : %.2f " , salary)
    total += salary
    salary *= 1.05

print('김가는 총 $',format(int(total),","),'를 벌 것이다')

이름을 입력하세요 : ㄱ
나이를 입력하세요 : 25
시작 연봉을 입력하세요 : 20000
김가는 총 $ 2,415,995 를 벌 것이다

In [32]:
def op1(day):
    return day*100

def op2(day):
    total = 0
    wage = 0
    for i in range(day):
        if(i ==0): 
            wage = 1
        else:
            wage *=2
        total +=wage
        
    return total

In [33]:
op1(30)

3000

In [35]:
op2(1)

1

In [36]:
op2(2)

3

In [37]:
op2(3)

7