In [2]:
import pandas as pd

df_1 = pd.DataFrame({
    '학교': ['서울대', '서강대', '부산대', '충남대', '경북대'],
    '지역': ['서울', '서울', '부산', '대전','대구'],
    '학생수':['10,712','8,179','11,935','10,991','11,314'],
    '학과 수': ['56', '45', '58','51','59'],
    '평균등록금' : ['2,110,000','5,340,000','2,430,000','2,347,000','2,522,000']},\
    columns=['학교', '지역', '학생수', '학과 수', '평균등록금'])

df_2 = pd.DataFrame({
    '학교평가등급': ['B+', 'A', 'A', 'A-', 'A+'],
    '학생만족도':['81점','79점','77점','84점','82점'],
    '취업자수': ['5,122명', '4,987명', '5,001명','5,117명','4,777명'],
     'area': ['서울', '서울', '부산', '대전','대구'],
    '면적' : ['9,122','7,101','9,095','8,873','9,002']
})

In [5]:
df1 = pd.DataFrame({
    '매출' : [10000000, 12000000, 9000000, 6000000, 8000000, 1100000],
    '비용' : [15000000, 1300000, 1200000, 9000000, 9900000, 9500000]},
    index = ['1월', '2월', '3월', '4월', '5월', '6월'])

df2 = pd.DataFrame({
    '매출' : [13000000, 14000000, 17000000, 15400000, 16500000, 16600000],
    '비용' : [11000000, 10400000, 11000000, 12100000, 9000000, 9500000]},
    index = ['7월', '8월', '9월', '10월', '11월', '12월'])